@charset "UTF-8";

html {
	overflow-y: scroll;
}

body {
	font:100 17px "bon",sans-serif;
	background:#F8F8F8;
}

#wrap {
	width:1100px;
	margin:auto;
	border:1px solid #463a84;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header {
	width:1100px;
	height:100px;
	border-bottom:1px solid #463a84;
}

#sidebar {
	width:199px;
	float:right;
}

#loginBox, #logoutBox {
	height:100px;
	border-bottom:1px solid #463a84;
	position: relative;
}

#loginBox .btn {
	bottom:10px;
	right:10px;
	position: absolute;
}

#loginBox .user_info {
	position: relative;
	top:16px;
	text-align: center;
}

#loginBox em {
	font-weight:500;
	font-size:21px;
	color:#00bfff;
}


#logoutBox .btn {
	width:60px;
	height:60px;
	padding: 0;
	background:#463a84;
	position: absolute;
	right:10px;
	top:10px;
}

#logoutBox .btn:hover,#logoutBox .btn:focus {
	background:#251F39;
}

#logoutBox p {
	margin:10px 5px;
}

#logoutBox input {
	font:normal 14px "bon",sans-serif;
	width:103px;
	padding:3px;
	border:1px solid #666;
}



#logoutBox input:focus {
	border-color:#333;
	outline: 2px solid #333;
	background:#ddd;
}

#logoutBox .join {
	text-decoration: none;
	position: absolute;
	bottom:1px;
	left:10px;
	font-weight:400;
	color:#333;
	font-size:13px;
}

#logoutBox .join:hover,#logoutBox .join:focus {
	color:#00BFFF;
	text-decoration: underline;
}


#content {
	width:900px;
	min-height: 400px;
	float: left;
	border-right:1px solid #463a84;
	padding:10px 0;
}

#footer {
	width:1100px;
	height:100px;
	font-size:14px;
	text-align: center;
	line-height: 100px;
	color:#463a84;
	clear: both;
	border-top:1px solid #463a84;
	
}

#policy {
	width:800px;
	height:50px;
	float: left;
}

#footer address {
	width:190px;
	height:50px;
	float:left;
	color:#463a84;
}

 a {
	color:#463a84;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}
a.btn {
	text-decoration: none;
}
#footer address a {
	font-weight: 400;
}

#policy ul {
	text-align: center;
}

#policy li {
	display: inline;
	border-left:1px solid #ddd;
	margin-right:9px;
	padding-left: 8px;
}

#policy li:first-child {
	border:none;
}

#policy strong {
	font-weight:400;
}

#header>h1 {
	text-align: center;
}

#header>h1>a {
	font-size:46px;
	font-weight:700;
	color:#463a84;
	line-height: 100px;
	text-decoration: none;
	text-shadow:
}

#header>h1>a:hover {
	color:#251F39;
	text-decoration: underline;
}

#content>h2 {
	font-size:36px;
	font-weight:500;
	color:#463a84;
	text-align: center;
	margin:20px;
}


.hide {
	width:0;
	height:0;
	border:0;
	margin: 0;
	padding: 0;
	font-size:0;
	line-height: 0;
	overflow: hidden;
	visibility: hidden;
}


.btn {
	border:0;
	margin:0;
	padding:8px 14px;
	background:#463a84;
	color:#fff;
	text-decoration: none;
	font-weight: 500;
}

button.btn {
	cursor: pointer;
	font:500 17px 'bon',sans-serif;
}


.btn:hover {
	background:#251F39;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* firefox가 가진 버튼의 크기를 없애줌 */
button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.btn_box {
	padding: 10px 0;
	text-align: right;
}


/*
페이징 CSS
*/
.paginate {
	font-size:14px;
	text-align:center;
	height:34px;
	line-height:34px;
	font-weight:500;
	margin: 5px;
}

.paginate a, 
.paginate span,
.paginate strong{
	color:#858585;
	text-decoration:none;
	padding:6px 12px;
	border:1px solid transparent;
	transition:.1s ease;
}

.paginate span {
	border-color:#E1E1E1;
	cursor: not-allowed;
}

.paginate a:hover {
	background:#463a84;
	border-color:#E1E1E1;
	font-weight:900;
	color:#fff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paginate strong {
	background:#251F39;
	border-color:#251F39;
	color:#fff;
	cursor: not-allowed;
	font-weight:900;
}

/*
비활성화
*/
.paginate span.next,
.paginate span.prev {
	border-color:#E1E1E1;
	color:#E1E1E1;
	cursor:default;
	cursor:not-allowed;
} 